# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
coverage/

# Config and system files
.next/
.cache/

# Environment files
.env
.env.*

# Dependency lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Optional: Specific file types or paths
*.config.js
*.d.ts